# All IntelliJ produced stuff
out
.idea
Painter.iml

# Compiling things
.class
*.iml
META-INF

# A script I wrote because I'm lazy
commit

# Logs
.jpaint_log

# Testing
paint.png

# Future stuff
Preloader.java